{% extends 'base.html.twig' %}

{% block title %}{{ 'app.homepage.title'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to {{ 'app.name'|trans }}</h1>
                <p class="lead">{{ 'app.description'|trans }}</p>
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-3">
                        <div class="alert alert-primary">
                            alert-primary
                        </div>
                        <a href="#" class="btn btn-primary">btn-primary</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-secondary">
                            alert-secondary
                        </div>
                        <a href="#" class="btn btn-secondary">btn-secondary</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-light">
                            alert-light
                        </div>
                        <a href="#" class="btn btn-light">btn-light</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-dark">
                            alert-dark
                        </div>
                        <a href="#" class="btn btn-dark">btn-dark</a><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="alert alert-success">
                            alert-success
                        </div>
                        <a href="#" class="btn btn-success">btn-success</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-info">
                            alert-info
                        </div>
                        <a href="#" class="btn btn-info">btn-info</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-warning">
                            alert-warning
                        </div>
                        <a href="#" class="btn btn-warning">btn-warning</a><br><br>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-danger">
                            alert-danger
                        </div>
                        <a href="#" class="btn btn-danger">btn-danger</a><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a class="btn btn-outline-secondary btn-lg" href="{{ path("secure") }}" role="button">
                            <i class="fa fa-cog"></i> {{ 'app.menu.main.secure'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
